h2 {
  text-align: center;
}

.center {
  text-align: center;
}

.breadClass {
  background-color: burlywood;
  font-size: 43.2px;
}

.sausageClass {
  font-size: 20px;
  background-color: palevioletred;
}

.sandwichClass {
  text-align: center;
  margin: 20px auto;
  width: 400px;
}

button {
  border-radius: 5px;
  background-color: lightgreen;
}